<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Nessie API App</title>
    <link rel="stylesheet" href="/style.css" type="text/css">
</head>

<body>
	<h1>Account Successfully Created!</h1>
    <div id="accountCreated">
        <h2>Account ID: <%- _id%></h2>
        <p>Account Type: <%- type%></p>
        <p>Account Name: <%- nickname%></p>
        <p>Rewards: <%- rewards%></p>  
        <p>Balance: <%- balance%></p>        
    </div>
    <a class="backHomeButton" href="/"><strong>Back to Home</strong></a>
</body>
</html>