<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Nessie API App</title>
    <link rel="stylesheet" href="/style.css" type="text/css">
</head>

<body>
	<h1>Results for Latitude: <%- lat%>, Longitude: <%- lng%>, Radius: <%- rad%></h1>
    <h3>Pages Found: <%- pages%></h3>
    <div class="atmList">
        <%- atmListHTML%>
    </div>
    <br>
    <a class="backHomeButton" href="/"><strong>Back to Home</strong></a>
</body>
</html>